*{
    text-align: center;
    color: rgb(5, 50, 71);
    font-size: 40px;
}

body {
    
background: linear-gradient(0.25turn, #017483, #ebf8e1, #7dd7dd);

}

#winner-loser{
    color: rgba(133, 7, 133, 0.603);
    font-size: 50px;
    font-weight: 300;
}

#player-wrapper{
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#player {
    margin-right: 100px;
}

#scores {
    display: inline-flex;
}

#player-score {
    margin-right:  150px;
    margin-bottom: 50px;
}

#computer-score {
    margin-left:  50px;
}

button {
    background-color: rgba(133, 7, 133, 0.247);
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    font-size: 30px;
  }

  #dice {
      margin-bottom:50px ;
  }

  #dice-wrapper{
      display: inline-flex;
  }

  #player-result {
      border: 2px solid;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-bottom: 50px;
      font-size: 40px;
      line-height: 240%;
      margin-right: 50px;
  }

  #computer-result {
    border: 2px solid;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 240%;
}


