@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html {
    height: 100vh;
}

body {
        font-family: Mochiy Pop P One, sans-serif;
        background: linear-gradient(45deg, red, blue) no-repeat;
        min-height: 100%;
        margin-top: 0 0;
        padding: 0;
      }
  
      /* heading and logo */

#left-header {

    float: left;
    line-height: 100px;
    font-size: 50px;
    padding-left: 150px;
}

#center-header {
    background-image: url('../images/Design_1-removebg-preview.png');
    height: 300px; 
    width: 33%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

#right-header {

    float: right;
    line-height: 100px;
    font-size: 50px;
    padding-right: 150px;
}

/* nav bar */

#nav {
    letter-spacing: 4px;
    font-size: 30px;
    margin: 20px 300px;
}

#nav ul {
text-align: center;
}

#nav li {
    list-style: none;
    display: inline-block;
    padding-left: 50px;
}

#nav a {
    text-decoration: none;
    color:inherit;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
        border-bottom: 1px solid #000000;
    }